* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  /*background: bisque;*/
  background: linear-gradient(to right, #2196f3, rgb(164, 205, 50));
}
.main-heading {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem;
  color: wheat;
}
.bottom-heading {
  text-align: center;
  color: wheat;
}
.joke-container {
  font-size: 2rem;
  height: 40vh;
  display: flex;
  justify-content: center;
}
.content {
  margin-top: 2rem;
  font-size: 3.5rem;
}
.joke-item {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joke {
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .main-heading {
    padding-top: 6rem;
    font-size: 3rem;
  }
}
